<?xml version='1.0' encoding='utf-8'?>
<widget id="de.sby.recipeapp" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Rezept Planer</name>
    <description>
        A recipe planner for storing and planning recipes including shopping list, etc.
    </description>
    <author email="info@rezept-planer.de" href="https://www.rezept-planer.de">
        Jan Sauerbrey
    </author>
    <content src="index.html" />
    <!-- Default application icon -->
    <icon src="www/res/img/icon.png" />
    <!--
    Default icon should work, but cordova don't overwrite
    the default on all densities
    -->
    <icon src="www/res/img/icon.png" platform="android" density="ldpi" />
    <icon src="www/res/img/icon.png" platform="android" density="mdpi" />
    <icon src="www/res/img/icon.png" platform="android" density="hdpi" />
    <icon src="www/res/img/icon.png" platform="android" density="xhdpi" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="local://" />
    <access origin="file:///" subdomains="true" />
    <access origin="https://rezept-planer.de" subdomains="true" />
    <access origin="https://d9gkwhfwam31p.cloudfront.net" />
    <allow-intent href="http://helsinki.sby.eu/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="17" />
        <preference name="AppendUserAgent" value="RPv0.3.0" />
        <splash src="www/res/img/screen.png" density="port-ldpi" />
        <splash src="www/res/img/screen.png" density="port-mdpi" />
        <splash src="www/res/img/screen.png" density="port-hdpi" />
        <splash src="www/res/img/screen.png" density="port-xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="blackberry">
        <rim:splash src="www/res/img/screen.png" />
    </platform>
</widget>
