<?xml version='1.0' encoding='utf-8'?>
<widget id="de.sby.recipeapp" version="0.4.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Rezept Planer</name>
    <description>
        A recipe planner for storing and planning recipes including shopping list, etc.
    </description>
    <author email="info@rezept-planer.de" href="https://www.rezept-planer.de">
        Jan Sauerbrey
    </author>
    <content src="index.html" />
    <!-- Default application icon -->
    <icon src="res/img/rezept-planer-icon_192.png" />
    <!--
    Default icon should work, but cordova don't overwrite
    the default on all densities
    -->
    <plugin name="cordova-plugin-whitelist" version="1.2.2" />
    <access origin="file:///" />
    <access origin="https://www.rezept-planer.de" subdomains="false" />
    <access origin="https://d9gkwhfwam31p.cloudfront.net" subdomains="false" />
    <allow-intent href="mailto:info@rezept-planer.de" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="DisallowOverscroll" value="true"/>
    <platform name="android">
        <preference name="android-minSdkVersion" value="17" />
		    <!-- Icon -->
		    <icon src="res/android/rezept-planer-icon_36.png" density="ldpi" />
		    <icon src="res/android/rezept-planer-icon_48.png" density="mdpi" />
		    <icon src="res/android/rezept-planer-icon_72.png" density="hdpi" />
		    <icon src="res/android/rezept-planer-icon_96.png" density="xhdpi" />
		    <icon src="res/android/rezept-planer-icon_144.png" density="xxhdpi" />
		    <icon src="res/android/rezept-planer-icon_192.png" density="xxxhdpi" />
        
		    <!-- Splash Screen -->
		    <splash src="res/android/rezept-planer-splash_320x200.png" density="land-ldpi"/>
		    <splash src="res/android/rezept-planer-splash_480x320.png" density="land-mdpi"/>
		    <splash src="res/android/rezept-planer-splash_800x480.png" density="land-hdpi"/>
		    <splash src="res/android/rezept-planer-splash_1280x720.png" density="land-xhdpi"/>
		    <splash src="res/android/rezept-planer-splash_1600x960.png" density="land-xxhdpi"/>
		    <splash src="res/android/rezept-planer-splash_1920x1280.png" density="land-xxxhdpi"/>
		
		    <splash src="res/android/rezept-planer-splash_200x320.png" density="port-ldpi"/>
		    <splash src="res/android/rezept-planer-splash_320x480.png" density="port-mdpi"/>
		    <splash src="res/android/rezept-planer-splash_480x800.png" density="port-hdpi"/>
		    <splash src="res/android/rezept-planer-splash_720x1280.png" density="port-xhdpi"/>
		    <splash src="res/android/rezept-planer-splash_960x1600.png" density="port-xxhdpi"/>
		    <splash src="res/android/rezept-planer-splash_1280x1920.png" density="port-xxxhdpi"/>
        
    </platform>
    <platform name="ios">
    	<preference name="BackupWebStorage" value="local"/>
    	<preference name="deployment-target" value="7.0" />
    	<preference name="StatusBarOverlaysWebView" value="false" /> 
			<preference name="StatusBarBackgroundColor" value="#f8f8f8" />
			<preference name="StatusBarStyle" value="default" />
			<preference name="KeyboardDisplayRequiresUserAction" value="false"/>
			
		  <!-- Icon -->
      <!-- iOS 8.0+ -->
      <!-- iPhone 6 Plus  -->
      <icon src="res/ios/rezept-planer-icon_180.png" width="180" height="180" />
      <!-- iOS 7.0+ -->
      <!-- iPhone / iPod Touch  -->
      <icon src="res/ios/rezept-planer-icon_60.png" width="60" height="60" />
      <icon src="res/ios/rezept-planer-icon_120.png" width="120" height="120" />
      <!-- iPad -->
      <icon src="res/ios/rezept-planer-icon_76.png" width="76" height="76" />
      <icon src="res/ios/rezept-planer-icon_152.png" width="152" height="152" />
      <!-- iOS 6.1 -->
      <!-- Spotlight Icon -->
      <icon src="res/ios/rezept-planer-icon_40.png" width="40" height="40" />
      <icon src="res/ios/rezept-planer-icon_80.png" width="80" height="80" />
      <!-- iPhone / iPod Touch -->
      <icon src="res/ios/rezept-planer-icon_57.png" width="57" height="57" />
      <icon src="res/ios/rezept-planer-icon_114.png" width="114" height="114" />
      <!-- iPad -->
      <icon src="res/ios/rezept-planer-icon_72.png" width="72" height="72" />
      <icon src="res/ios/rezept-planer-icon_144.png" width="144" height="144" />
      <!-- iPhone Spotlight and Settings Icon -->
      <icon src="res/ios/rezept-planer-icon_29.png" width="29" height="29" />
      <icon src="res/ios/rezept-planer-icon_58.png" width="58" height="58" />
      <!-- iPad Spotlight and Settings Icon -->
      <icon src="res/ios/rezept-planer-icon_50.png" width="50" height="50" />
      <icon src="res/ios/rezept-planer-icon_100.png" width="100" height="100" />
      
	    <!-- images are determined by width and height. The following are supported -->
	    <splash src="res/ios/rezept-planer-splash_320x480.png" width="320" height="480"/>
	    <splash src="res/ios/rezept-planer-splash_640x960.png" width="640" height="960"/>
	    <splash src="res/ios/rezept-planer-splash_768x1024.png" width="768" height="1024"/>
	    <splash src="res/ios/rezept-planer-splash_1536x2048.png" width="1536" height="2048"/>
	    <splash src="res/ios/rezept-planer-splash_640x1136.png" width="640" height="1136"/>
	    <splash src="res/ios/rezept-planer-splash_750x1334.png" width="750" height="1334"/>
	    <splash src="res/ios/rezept-planer-splash_1242x2208.png" width="1242" height="2208"/>
	    
	    <splash src="res/ios/rezept-planer-splash_1024x768.png" width="1024" height="768"/>
	    <splash src="res/ios/rezept-planer-splash_2048x1536.png" width="2048" height="1536"/>
	    <splash src="res/ios/rezept-planer-splash_2208x1242.png" width="2208" height="1242"/>
    </platform>
</widget>
