<div class="row">
<nav class="navbar navbar-default" style="padding:0;" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="hideMobileNav = true" ng-click="hideMobileNav = !hideMobileNav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">recipeApp</a>
  </div>
  <div collapse="hideMobileNav" class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-repeat="route in routes" ng-class="{active: activeRoute(route)}" ng-hide="hiddenRoute(route)">
        <a ng-href="#{{ route.path }}" data-toggle="hideMobileNav" data-target=".navbar-collapse">{{ route.name }}</a>
      </li>
    </ul>
  </div>
</nav>
</div>
