  <div class="row">
    <div class="form">
      <div class="form-group col-xs-12 col-sm-6 col-md-8">
        <label class="control-label">Name:</label>
        <input type="text" ng-model="recipe.name" ng-required="true" class="form-control" placeholder="Name...">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4" >
        <label class="control-label">Recipe Language:</label><br />
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="recipe.language" btn-radio="'en'">Englisch</label>
          <label class="btn btn-primary" ng-model="recipe.language" btn-radio="'de'">Deutsch</label>
          <label class="btn btn-primary" ng-model="recipe.language" btn-radio="'fi'">Finnisch</label>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label class="control-label">Cousine:</label>
        <input type="text" ng-model="recipe.cousine" class="form-control">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label class="control-label">Cooking method:</label>
        <input type="text" ng-model="recipe.cookingMethod" class="form-control">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label class="control-label">Preparation time (minutes):</label>
        <input type="number" ng-model="recipe.prepTime" class="form-control">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label class="control-label">Cooking time (minutes):</label>
        <input type="number" ng-model="recipe.cookTime" class="form-control">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label class="control-label">Total time (minutes):</label>
        <input type="number" ng-model="recipe.totalTime" class="form-control">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label class="control-label">Persons / portions:</label>
        <input type="number" ng-model="recipe.yield" ng-required="true" class="form-control">
      </div>
      <div class="form-group col-xs-12">
        <label class="control-label">Tags:</label>
        <input type="text" ng-model="recipe.tags" class="form-control">
      </div>
      <label class="control-label coll-xs-12 col-md-12">Ingredients:</label>
      <div ng-repeat="ingredient in recipe.ingredients" class="move-animation">
        <div class="form-group col-xs-12">
          <div class="col-xs-3 col-md-1" style="padding:0;">
            <input type="number" ng-model="recipe.ingredients[$index].qty" class="form-control" placeholder="Menge">
          </div>
          <div class="col-xs-4 col-md-2" style="padding:0;">
            <select ng-options="unit._id as unit.name.de for unit in units" ng-model="recipe.ingredients[$index].unit" class="form-control" placeholder="Einheit"></select>
          </div>
          <div class="col-xs-5 col-md-9" style="padding:0;">
            <input type="text" ng-model="recipe.ingredients[$index].ingredient" typeahead="ingredient as ingredient.name.de for ingredient in GetIngredients($viewValue)" typeahead-editable="false" typeahead-on-select="onTypeaheadSelect($item, $model, $label)" class="form-control" placeholder="Ingredient...">
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label class="control-label">Instructions:</label>
        <textarea rows="5" ng-model="recipe.instructions" class="form-control"></textarea>
      </div>
      <div class="form-group col-xs-12">
        <button ng-click="update()" class="btn btn-primary">update</button>
        <a class="btn btn-default" href="/#/recipes/" role="button">cancel</a>
        <button ng-click="remove()" class="btn btn-default pull-right">remove</button>
      </div>
    </div>
  </div>
