  <div class="row">
    <div class="form">
      <label class="control-label coll-xs-12 col-md-12">Ingredients:</label>
      <div ng-repeat="recipe in schedule.recipes" class="move-animation">
        <div class="form-group col-xs-12">
          <div class="col-xs-3 col-md-1" style="padding:0;">
            <input type="number" ng-model="schedule.recipes[$index].factor" class="form-control" placeholder="Persons">
          </div>
          <div class="col-xs-5 col-md-9" style="padding:0;">
            <input type="text" ng-model="schedule.recipes[$index].name" typeahead="recipe as recipe.name for recipe in GetRecipes($viewValue)" typeahead-editable="false" typeahead-on-select="onTypeaheadSelect($item, $model, $label)" class="form-control" placeholder="Recipe...">
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <button ng-click="save()" class="btn btn-primary">create</button>
        <a class="btn btn-default" href="/#/schedules/" role="button">cancel</a>
      </div>
    </div>
  </div>
