  <div class="row">
    <div class="col-md-4 col-xs-12">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="startDate" is-open="startOpened" starting-day="1" ng-required="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-4 col-md-offset-1 col-xs-12">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="endDate" is-open="endOpened" starting-day="1" ng-required="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-2 col-md-offset-1 col-xs-12">
      <a class="btn btn-primary" ng-click="updateSchedules(startDate, endDate)" role="button">load</a>
    </div>
  </div>
  <div class="row">
    <div class="list-group">
      <div ng-repeat="schedule in schedules">
        <a class="list-group-item" href="#/schedules/{{schedule.date | date:'yyyy-MM-dd'}}">
          <div class="list-group-item-heading">{{schedule.date | date:'EEEE dd.MM.yyyy'}}</div>
          <div class="list-group-item-text">
            <div ng-repeat="recipe in schedule.recipes">{{recipe.factor}} Persons: {{recipe.name}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
