.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.move.ng-enter,
.move.ng-leave
    {
    -webkit-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
     
.move.ng-enter.ng-enter-active,
.move.ng-leave {
    opacity: 1;
    top: 0;
    height: 50px;
}
     
.move.ng-leave.ng-leave-active,
.move.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

body { padding-top: 60px;
       padding-bottom: 60px;
       font-size: 26px;
 }

.item-checked {
  text-decoration: line-through;
  color: grey;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 440px;
}


.beta-tag, .new-tag {
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -o-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  color: red;
  border-style: solid;
  border-color: red;
}

.beta-tag {
  font-size: 70%;
  position: absolute;
}
.new-tag {
  font-size: 20px;
  position: relative;
  top: -50px;
}


.alert.ng-enter,
.alert.ng-leave {
    -webkit-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
.alert.ng-enter {
    opacity: 0;
    height: 52px;
    top: 0;
}
.alert.ng-enter.ng-enter-active,
.alert.ng-leave {
    opacity: 1;
    height: 52px;
    top: 0;
}
.alert.ng-leave.ng-leave-active {
    opacity: 0;
    top: -50px;
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
}


.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.side-links {
  margin-top: 10px;
  margin-bottom: 10px;
}

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.7); /*dim the background*/
}

.spinner{
    -moz-user-select: none;
    bottom: 200px;
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

@media (max-width: 767px) {
    .padding-xs-off {
      padding:0;
    }

    .thumbnail-img {
      max-height: 120px;
    }
    .my-datepicker .btn-sm {
    	font-size: 16px;
		}
		.my-datepicker {
    width: 282px;
		}
}

@media (min-width: 992px){
    .my-datepicker .btn-sm {
    font-size: 16px;
		}
		.my-datepicker {
    width: 282px;
		}
		
		.sidelinks{
			 position: fixed;
		}
}

.actionbutton {
	float: right;
	padding: 6px 14px;
}
.panel-header-schedules {
	overflow: hidden;
	padding: 3px 8px 3px 8px;
}


.table-panel .panel-body {
    padding: 0;
}

  .selected-day button {
    background-color: #95d6e9;
  }
  
.active {
	background-color: #eee;	
}

.navbar-sm-more {
    color: #777;
    line-height: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
a.navbar-sm-more:hover, a.navbar-sm-more:focus {
    color: #333;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.spacing-10 {
	margin-top: 10px;
}
.hover-show-element {
	display: none;
}

.hover-ref-element:hover .hover-show-element {
	display: inline;
}

.navbar-toggle-adj {
	float: left;
	margin-left: 15px;
	padding-left: 7px;
}

.icon-bar-short {
	background-color: #888;
	border-radius: 1px;
  display: block;
	margin-left: 12px;
	height: 2px;
	width: 10px;
}
.navbar-toggle .icon-bar-short + .icon-bar-short {
  margin-top: 4px;
}

.title-truncated {
	margin-top: 15px;
	float: left;
  width: -moz-calc(100% - 140px);
  width: -webkit-calc(100% - 140px);
  width: calc(100% - 140px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tiles {
	padding: 5px 5px 0px 0px;
	display: inline-block;
}

.tiles .thumbnail{
	padding: 5px 10px;
	margin-bottom: 0px;
}

.tiles > div > span {
	padding-left: 10px;
}

.recipe-list {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	line-height: 1.42857;
	margin-bottom: 10px;
	padding: 4px;
	transition: border 0.2s ease-in-out 0s;
}

.recipe-list .caption {
    color: #333;
    padding: 9px;
    display: inline-block;
}

@media (max-width: 767px) {
	.recipe-list > a {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    overflow: hidden;
	}
	.recipe-list > a > img {
    width: auto;
    max-width: auto;
    height: 100%;
    position: relative;
    left: -25%;
	}
  .recipe-list > .caption {
    padding: 3px 0px 0px 9px;
	  width: -moz-calc(100% - 150px);
	  width: -webkit-calc(100% - 150px);
	  width: calc(100% - 150px);
	}
  .recipe-list > div {
    display: inline-block;
	}
}

@media (min-width: 768px) {
  .recipe-list > div > a > h4 {
	  width: -moz-calc(100% - 40px);
	  width: -webkit-calc(100% - 40px);
	  width: calc(100% - 40px);
	  height: 40px;
	}
	.recipe-list > a > img, .recipe-list > img {
		max-width: 100%;
	}
	
	.recipe-list .caption {
		  width: -moz-calc(100% - 50px);
		  width: -webkit-calc(100% - 50px);
		  width: calc(100% - 50px);
	}
}

@media (max-width: 767px) {
	.modal-dialog {
		margin: 0px;
		height: 100%;
	}
	.modal-content {
		border: 0px;
		border-radius: 0px;
		height: 100%;
	}
	.modal-body {
		position: absolute;
		bottom: 50px;
		top: 50px;
		overflow: auto;
		width: 100%;
	}
	.modal-header {
		position: fixed;
		top: 0;
		padding: 12px 15px 11px 15px;
		width: 100%;
		background-color: #f8f8f8;
	}
	.modal-header .close{
		position: relative;
		right: 5px;
		top: 4px;
	}
	.modal-header > h4 {
		display: inline-block;
		margin: 0px;
		float: left;
	  width: -moz-calc(100% - 20px);
	  width: -webkit-calc(100% - 20px);
	  width: calc(100% - 20px);
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.modal-footer {
		position: fixed;
		bottom: 0;
		padding: 7px 15px;
		height: 50px;
		width: 100%;
		background-color: #f8f8f8;
	}
	
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.startpage-buttons {
    margin-top: 30px;
}
.list-top-margin {
    margin-top: 20px;
}

.navbar-padding {
    padding: 0;
}
.navbar-padding-button {
    padding: 5px 15px;
}
.navbar-padding-right-button {
    padding-right: 10px;
}
.pointer {
    cursor: pointer;
}
.img-thumbnail {
    width: 60px;
    height: 60px;
}
.navbar-sidebar {
    width: 200px;
}
.padding-right-off {
    padding-right: 0;
}
.padding-left-off {
    padding-left: 0;
}
.padding-off {
    padding: 0;
}
.padding-5 {
    padding: 5px;
}
.padding-top-10 {
    padding-top: 10px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-100 {
    margin-bottom: 100px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-off {
    margin: 0;
}
.margin-auto {
    margin: auto;
}
.margin-top-off {
    margin-top: 0;
}
.margin-top-10 {
    margin-top: 10px;
}
.schedule-date {
    display: inline-block;
    min-height: 290px;
}
.recipe-tags {
    margin: 2px; display: inline-block;
}
.recipe-instructions {
    white-space: pre-line;
}
.schedules-title {
    padding-top: 6px;
    float: left;
}
.schedules-item {
    width: 100px;
}
.schedules-item-button {
    width: 30px;
}
.schedules-item-missing {
    padding:5px 10px;
}
.schedules-selector {
    position: fixed;
}
.schedules-item-name {
    min-width: 80px;
}
.frequentshopitem {
    height: 150px;
    text-align: center;
}
.frequentshopitem-img {
    height: 80px;
    width: 80px;
}
.settings-categories {
    margin-top: 3px;
    margin-right: 5px;
}
.navbar-divider {
    border-bottom: 1px solid #eee;
}
.navbar {
    font-size: 14px;
}
