.move.ng-enter,
.move.ng-leave
    {
    -webkit-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
     
.move.ng-enter.ng-enter-active,
.move.ng-leave {
    opacity: 1;
    top: 0;
    height: 50px;
}
     
.move.ng-leave.ng-leave-active,
.move.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
}

body { padding-top: 60px; }

.done-true {
  text-decoration: line-through;
  color: grey;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 440px;
}


.beta-tag, .new-tag {
  -webkit-transform:rotate(345deg);
  -moz-transform:rotate(345deg);
  -o-transform:rotate(345deg);
  -ms-transform:rotate(345deg);
  color: red;
  border-style: solid;
  border-color: red;
}

.beta-tag {
  font-size: 70%;
  position: absolute;
}
.new-tag {
  font-size: 20px;
  position: relative;
  top: -50px;
}


.alert.ng-enter,
.alert.ng-leave {
    -webkit-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 450ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
.alert.ng-enter {
    opacity: 0;
    height: 52px;
    top: 0;
}
.alert.ng-enter.ng-enter-active,
.alert.ng-leave {
    opacity: 1;
    height: 52px;
    top: 0;
}
.alert.ng-leave.ng-leave-active {
    opacity: 0;
    top: -50px;
    height: 0px;
    padding-top: 0;
    padding-bottom: 0;
}


.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    -ms-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition:  .25s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.side-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
    .padding-xs-off {
      padding:0;
    }

    .thumbnail-fixed {
      height: 220px;
    }

    .thumbnail-img {
      max-height: 120px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .thumbnail-fixed {
      height:260px;
    }
}

@media (min-width: 1200px) {
    .thumbnail-fixed {
      height:300px;
    }
}

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
