  <div class="row">
      <div class="col-xs-12 text-center">
        <h3 style="margin-bottom: 30px;">
          <a class="btn btn-primary pull-left" href="#/cooking/{{prevDate | date:'yyyy-MM-dd'}}"><span class="glyphicon glyphicon-chevron-left"></a>
          <span class="hidden-xs">{{startDate | date:'EEEE dd.MM.yyyy'}}</span>
          <span class="hidden-sm hidden-md hidden-lg">{{startDate | date:'EEEE dd.MM.'}}</span>
          <a class="btn btn-primary pull-right" href="#/cooking/{{nextDate | date:'yyyy-MM-dd'}}"><span class="glyphicon glyphicon-chevron-right"></a>
        </h3>
      </div>
    <accordion close-others="false" class="col-xs-12">
    <accordion-group ng-repeat="schedule in schedules" heading="{{schedule.recipe.name}}">
      <div class="col-md-8 col-sm-6 col-xs-12" style="padding: 0px; padding-right: 20px;">
        <label class="control-label">Instructions:</label>
        <p>{{schedule.recipe.instructions}}</p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12" style="padding: 0px;">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Author:</th>
              <td>{{schedule.recipe.author.fullname}}</td>
            </tr>
            <tr>
              <th>Persons / portions:</th>
              <td>{{schedule.recipe.yield}}</td>
            </tr>
            <tr>
              <th>Preparation time:</th>
              <td>{{schedule.recipe.prepTime}} min</td>
            </tr>
            <tr>
              <th>Cooking time:</th>
              <td>{{schedule.recipe.cookTime}} min</td>
            </tr>
            <tr>
              <th>Total time:</th>
              <td>{{schedule.recipe.totalTime}} min</td>
            </tr>
            <tr>
              <th>Kcal:</th>
              <td>{{schedule.recipe.kilocalories}}</td>
            </tr>
            <tr>
              <th>Tags:</th>
              <td><font size="3"><span ng-repeat="tag in schedule.recipe.tags" class="label label-primary" style="margin: 2px; display: inline-block;">{{tag.text}}</span></font></td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class="col-xs-12 table table-striped">
        <thead>
          <th>Amount</th>
          <th>Unit</th>
          <th>Ingredient</th>
        </thead>
        <tbody>
          <tr ng-repeat="ingredient in schedule.recipe.ingredients">
            <td>{{ingredient.qty | number}}</td>
            <td>
              <span ng-show="schedule.recipe.language==='en'">{{ingredient.unit.name.en}}</span>
              <span ng-show="schedule.recipe.language==='de'">{{ingredient.unit.name.de}}</span>
              <span ng-show="schedule.recipe.language==='fi'">{{ingredient.unit.name.fi}}</span>
            </td>
            <td>
              <span ng-show="schedule.recipe.language==='en'">{{ingredient.ingredient.name.en}}</span>
              <span ng-show="schedule.recipe.language==='de'">{{ingredient.ingredient.name.de}}</span>
              <span ng-show="schedule.recipe.language==='fi'">{{ingredient.ingredient.name.fi}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </accordion-group>
    </accordion>
  </div>
