  <div class="modal-header">
    <h4 class="modal-title"><strong>Add: </strong>{{ingredient.name.de}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label">Amount:</label><br />
      <input type="number" ng-model="amount" ng-required="true" class="form-control">
      <div class="btn-group" style="margin-top: 20px;">
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="1">1</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="2">2</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="3">3</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="4">4</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="5">5</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="6">6</label>
        <label class="btn btn-primary btn-lg hidden-xs" ng-model="amount" uib-btn-radio="7">7</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="8">8</label>
      </div>
      <div class="btn-group" style="margin-top: 20px;">
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="100">100</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="200">200</label>
        <label class="btn btn-primary btn-lg hidden-xs" ng-model="amount" uib-btn-radio="250">250</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="300">300</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="400">400</label>
        <label class="btn btn-primary btn-lg" ng-model="amount" uib-btn-radio="500">500</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Unit:</label>
      <select ng-options="unit._id as unit.name.de for unit in units" ng-model="newunit" class="form-control" placeholder="Unit..."></select></td>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary btn-lg">add</button>
    <button ng-click="cancel()" class="btn btn-default btn-lg">cancel</button>
  </div>
