<div class="row">
  <div class="col-xs-12 col-md-6" access="User">
    <a href ui-sref="user.recipes.dishtypes">
      <div class="thumbnail text-center">
        <span class="glyphicon glyphicon-cutlery fa-5x" style="margin-top: 30px;" aria-hidden="true"></span>
        <div class="caption">
          <h3>Recipes</h3>
          <p>Browse all available recipes and add new ones yourself.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-md-6" access="User">
    <a href ui-sref="user.schedules">
      <div class="thumbnail text-center">
        <span class="glyphicon glyphicon-calendar fa-5x" style="margin-top: 30px;" aria-hidden="true"></span>
        <div class="caption">
          <h3>Schedule</h3>
          <p>Manage your weekly schedule of recipes.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-md-6" access="User">
    <a href ui-sref="user.shopitems.view">
      <div class="thumbnail text-center">
        <span class="glyphicon glyphicon-shopping-cart fa-5x" style="margin-top: 30px;" aria-hidden="true"></span>
        <div class="caption">
          <h3>Shopping</h3>
          <p>Manage your shopping list items.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-md-6" access="Admin">
    <a href ui-sref="admin.ingredients.list">
      <div class="thumbnail text-center">
        <span class="glyphicon glyphicon-apple fa-5x" style="margin-top: 30px;" aria-hidden="true"></span>
        <div class="caption">
          <h3>Ingredients</h3>
          <p>Manage available ingredients and add new ones (Admin only).</p>
        </div>
      </div>
    </a>
  </div>
</div>
