  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>About</strong>
    </div>
    <div class="panel-body">
      Recipe App at the moment in closed beta testing with version v0.2.1.
    </div>
    <div class="panel-heading">
      <strong>App Downloads</strong>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary" href="http://rezept-planer.de/recipeapp.apk" role="button"><i class="fa fa-android"></i> Download</a>
    </div>
    <div class="panel-heading">
      <strong>Contact</strong>
    </div>
    <div class="panel-body">
      <address>
        Jan Sauerbrey<br />
        Düsseldorfer Str. 151<br />
        51063 Köln<br />
        <a href="mailto:info@rezept-planer.de">info@rezept-planer.de</a>
      </address>
    </div>
    <div class="panel-heading">
      <strong>Changelog</strong>
    </div>
    <div class="panel-body">
      <ul>
	<li>2015-10-30 version 2.1</li>
	<li>2015-10-30 added some animation during transition</li>
	<li>2015-10-30 improved recipe edit / view by using ui-router states</li>
	<li>2015-10-25 added dishtype logic and cleaned up recipe logic</li>
	<li>2015-10-20 version 2.0</li>
	<li>2015-10-20 removed unnecessary files, adjusted to new uib behaviour and added autosync of shopping list and somer other minor details</li>
	<li>2015-10-19 improved animations</li>
	<li>2015-10-18 version 1.9</li>
	<li>2015-10-18 added animations, password reset and startscreen redirect</li>
	<li>2015-10-11 adjusted home button</li>
	<li>2015-10-11 navigation bugfix</li>
	<li>2015-10-11 version 1.8</li>
	<li>2015-10-11 moved frequentshopitems to own path</li>
	<li>2015-10-11 added frequent ingredents functionality</li>
	<li>2015-10-04 version 1.7</li>
	<li>2015-10-04 cleanup navigation</li>
	<li>2015-10-04 adjusted navigation and further spliting in induvidual files</li>
	<li>2015-10-04 seperated app file into several modules</li>
	<li>2015-10-04 adjusted for ui router</li>
	<li>2015-09-27 added angular ui-router libary, adjustments still pending</li>
	<li>2015-09-27 update of all libaries</li>
	<li>2015-09-27 bug fix in auth and in admin section</li>
	<li>2015-09-13 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-09-13 updated changelog</li>
	<li>2015-09-13 fixed mobile app</li>
	<li>2015-09-13 path adjustments</li>
	<li>2015-09-13 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-09-13 some minor changes</li>
	<li>2015-09-13 new version</li>
	<li>2015-07-04 bug fix in shopitems</li>
	<li>2015-07-03 added base uri and category sort in user settings</li>
	<li>2015-06-07 updated changelog</li>
	<li>2015-06-07 added home to mobile nav.</li>
	<li>2015-06-07 added sidebar navigation for mobile devices, improved recipe list (optics) and recipe typeahead with author modifications.</li>
	<li>2015-06-07 adjusted config for cordova app</li>
	<li>2015-06-07 added changelog and author search in recipes</li>
	<li>2015-06-06 new home screen, adjusted recipe overview and new search filters for recipes (language and new)</li>
	<li>2015-06-06 adjusted user login check</li>
	<li>2015-06-06 added map files</li>
	<li>2015-06-06 added icons back to start page but only for admin</li>
	<li>2015-06-06 updated angular, improved login and added access denied page</li>
	<li>2015-06-06 modal for shopitems</li>
	<li>2015-06-06 added improved login/logout, navigation, etc.</li>
	<li>2015-06-04 changed buttons, added size to ingredient images and linebreaks to recipe instructions.</li>
	<li>2015-05-26 added carbs, fat and protein as well as ingredient deletion button and form validation</li>
	<li>2015-05-25 added app and downlaod</li>
	<li>2015-05-25 adjusted user handling and included ngStorage</li>
	<li>2015-05-24 actually taking the right file</li>
	<li>2015-05-24 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-05-24 added ngStorage</li>
	<li>2015-05-24 many bugfixes and layout corrections</li>
	<li>2015-05-23 adjucted shopitem view</li>
	<li>2015-05-23 corrected nav</li>
	<li>2015-05-23 changes splash screen (not working yet)</li>
	<li>2015-05-21 improvents in scheduleadd and recipe edit</li>
	<li>2015-05-20 adjusted author display, edit view, etc.</li>
	<li>2015-05-19 adjusted home link</li>
	<li>2015-05-18 adjusted navbar</li>
	<li>2015-05-18 adjusted navbar</li>
	<li>2015-05-18 adjustments to navbar</li>
	<li>2015-05-18 corrected links for app</li>
	<li>2015-05-17 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-05-17 increased version</li>
	<li>2015-05-17 small changes adding small pics</li>
	<li>2015-05-17 adjusted ingredients and added categories</li>
	<li>2015-05-13 adjusted autologin</li>
	<li>2015-05-13 changes to login/logout</li>
	<li>2015-05-13 Update README.md</li>
	<li>2015-05-12 added icon</li>
	<li>2015-05-11 adjusted source to ine base for web and cordova</li>
	<li>2015-05-11 adjusted for cordova</li>
	<li>2015-05-11 Update user.login.tpl.html</li>
	<li>2015-05-11 Update user.js</li>
	<li>2015-05-11 Update user.login.tpl.html</li>
	<li>2015-05-11 Update recipeapp.js</li>
	<li>2015-05-11 Update recipeapp.js</li>
	<li>2015-05-10 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-05-10 adjusted for proper logout</li>
	<li>2015-05-10 adjusted app behaviour in links</li>
	<li>2015-05-09 added cordova app</li>
	<li>2015-05-06 added author to recipe</li>
	<li>2015-05-05 fixed sorting and checking in shopping list</li>
	<li>2015-05-05 Update user.logout.tpl.html</li>
	<li>2015-05-05 Update user.register.tpl.html</li>
	<li>2015-05-05 Update user.login.tpl.html</li>
	<li>2015-05-05 Update units.tpl.html</li>
	<li>2015-05-05 Update ingredients.tpl.html</li>
	<li>2015-05-05 hide admin colums on small screens</li>
	<li>2015-05-05 registered users need to be confirmed by admin</li>
	<li>2015-05-04 adjusted User Status</li>
	<li>2015-05-04 updated angular and angular-ui, fixed autohide navbar</li>
	<li>2015-05-04 adjusted new name</li>
	<li>2015-05-04 added check off in shopitem list</li>
	<li>2015-05-03 changed layout</li>
	<li>2015-05-03 adjusted layout</li>
	<li>2015-05-03 added tagging and manual shopitem add</li>
	<li>2015-05-01 updated readme</li>
	<li>2015-05-01 smaller user adjustments</li>
	<li>2015-05-01 fixed ingredients in recipe and language</li>
	<li>2015-05-01 improved shopitems and deletion of them when deleting schedules</li>
	<li>2015-04-30 bug fixing schedule loading</li>
	<li>2015-04-30 fixed cooking after shopitem change</li>
	<li>2015-04-30 bug fix in cooking</li>
	<li>2015-04-30 adjusted next /prev date in cooking</li>
	<li>2015-04-30 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-04-30 changed shopitems logic and fixed naming in scheduling</li>
	<li>2015-04-30 fixed date in schedule</li>
	<li>2015-04-30 updated feature list</li>
	<li>2015-04-27 correct factor in shopping list and add bug list</li>
	<li>2015-04-24 improvement on shopping list</li>
	<li>2015-04-24 adjusted view for small screens</li>
	<li>2015-04-24 adjusted for small screens</li>
	<li>2015-04-24 limit typeahead to 10, renaming of files and ingredients detail view adjustments</li>
	<li>2015-04-22 structural adjustments, typeahead and layout</li>
	<li>2015-04-22 new structure and fixed typeahead</li>
	<li>2015-04-21 automatically load new schedule period</li>
	<li>2015-04-21 added renewal of token every time a page is loaded</li>
	<li>2015-04-20 added datepicker</li>
	<li>2015-04-20 Readme update</li>
	<li>2015-04-20 hide # in mobile view</li>
	<li>2015-04-20 First working scheduling</li>
	<li>2015-04-20 added explanatory text</li>
	<li>2015-04-19 added search to recipes</li>
	<li>2015-04-19 added README</li>
	<li>2015-04-19 removed languae titles</li>
	<li>2015-04-19 added bcrypt to dependencies</li>
	<li>2015-04-19 improved admin and added first scheduling parts</li>
	<li>2015-04-18 added user management</li>
	<li>2015-04-17 remove generated files since change to pm2</li>
	<li>2015-04-17 added file for pm2 process starting</li>
	<li>2015-03-31 SOme changes regarding recipe section</li>
	<li>2015-03-29 first changes to recipe including typeahead (not working yet)</li>
	<li>2015-03-27 smother navbar and recipe templates</li>
	<li>2015-03-25 optical changes and complete ingredients and unit pages</li>
	<li>2015-03-24 model creation and unit view</li>
	<li>2015-03-23 initial version</li>
      </ul>
    </div>
  </div>
