  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Downloads</strong>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary" href="http://rezept-planer.de/recipeapp.apk" role="button"><i class="fa fa-android"></i> Download</a>
    </div>
    <div class="panel-heading">
      <strong>Jan Sauerbrey</strong>
    </div>
    <div class="panel-body">
      <address>
        Düsseldorfer Str. 151<br />
        51063 Köln<br />
        <a href="mailto:jan@sby.de">jan@sby.de</a>
      </address>
    </div>
  </div>
