  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>About</strong>
    </div>
    <div class="panel-body">
      Recipe App at the moment in closed beta testing. To join the program please visit <a href="https://play.google.com/apps/testing/de.sby.recipeapp">Google Play</a>. The iPhone App is working but not available in the store yet due to the high costs of the developer program.
    </div>
    <div class="panel-heading">
      <strong>App Downloads</strong>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary" href="http://rezept-planer.de/recipeapp.apk" role="button"><i class="fa fa-android"></i> Download</a>
    </div>
    <div class="panel-heading">
      <strong>Contact</strong>
    </div>
    <div class="panel-body">
      <address>
        Jan Sauerbrey<br /> </div>
        Düsseldorfer Str. 151<br />
        51063 Köln<br />
        <a href="mailto:info@rezept-planer.de">info@rezept-planer.de</a>
      </address>
    </div>
    <div class="panel-heading">
      <strong>Changelog</strong>
    </div>
    <div class="panel-body">
      <ul>
	<li>2016-10-22 version 5.1</li>
	<li>2016-10-22 alert bugfixes and schedule edit bug fix</li>
	<li>2016-10-22 fixed alerts</li>
	<li>2016-10-09 fixed a missing quote sign</li>
	<li>2016-10-09 version 5.0</li>
	<li>2016-10-08 Merge branch 'master' into develop</li>
	<li>2016-10-08 Merge branch 'master' into develop</li>
	<li>2016-10-08 final beta tag in nav bar</li>
	<li>2016-10-08 Merge branch 'develop'</li>
	<li>2016-10-08 Merge branch 'develop'</li>
	<li>2016-10-08 dynamic beta tag</li>
	<li>2016-10-08 fixed datepicker and typeahead</li>
	<li>2016-10-08 removed beta tag from master</li>
	<li>2016-10-08 removed beta tag from master</li>
	<li>2016-10-08 updated all libaries TODO: bugfix typeahead and datepicker</li>
	<li>2016-10-08 Merge branch 'intermediate'</li>
	<li>2016-09-29 removed all inline styles to become compatible to csp</li>
	<li>2016-09-25 added tag admin page and automatic removal of references in recipes if tag is deleted</li>
	<li>2016-09-24 bug fixing</li>
	<li>2016-07-12 version 4.3</li>
	<li>2016-07-12 version 4.2</li>
	<li>2016-07-12 added printing for shopitems</li>
	<li>2016-07-12 small adjustemnts to sharing behaviour</li>
	<li>2016-07-12 added minified versions</li>
	<li>2016-07-12 adjustmnets in sharing button</li>
	<li>2016-07-12 version 4.1</li>
	<li>2016-07-12 minified verions</li>
	<li>2016-07-12 print und sharing adjustments</li>
	<li>2016-07-11 version 4.0</li>
	<li>2016-07-11 adjusted version partly</li>
	<li>2016-07-11 Merge branch 'develop' of https://github.com/jansauerbrey/recipe-app into develop</li>
	<li>2016-07-11 small android build adjustments</li>
	<li>2016-07-10 version 3.4 release</li>
	<li>2016-04-26 added pictures (all from pexels.com)</li>
	<li>2016-04-25 renamed and merged snack category and reordered categories in overview</li>
	<li>2016-04-23 several fixes including minification ability</li>
	<li>2016-03-07 added minified js files, favicons and robots.txt</li>
	<li>2016-03-07 convert to progressive jpegs and correct js files for minification</li>
	<li>2016-03-07 async load of js files</li>
	<li>2016-02-24 version 3.3</li>
	<li>2016-02-23 error handling</li>
	<li>2016-01-25 proper translation for frequent shopitems.</li>
	<li>2016-01-24 changes translation of shopping list (shopitems only)</li>
	<li>2016-01-24 new modal view and recipe list view</li>
	<li>2016-01-17 some minor ajdustments for proper navbar title flow</li>
	<li>2016-01-17 version 3.2</li>
	<li>2016-01-17 finished new mobile navigation added mobile nav title showing recipe name</li>
	<li>2016-01-17 version 3.1</li>
	<li>2016-01-17 fixed mobile back bavigation</li>
	<li>2016-01-16 exclude shopitems from new mobile navigation</li>
	<li>2016-01-16 changed some navigation and show fav recipe in list</li>
	<li>2016-01-12 back menu for mobile view on state depth level of more than 2</li>
	<li>2016-01-11 finalized new recipe routing</li>
	<li>2016-01-10 changed recipe overvie to less automatic and mor manual setup with individual states</li>
	<li>2016-01-10 improved user settings (is working now, but variables are only partly used accross site fixed action navigation in shopitems added pref and spoken language to registration</li>
	<li>2016-01-09 some fixes for working user settings adjustments to named view in recipes, schedules and shopitems</li>
	<li>2016-01-09 Merge branch 'develop' of https://github.com/jansauerbrey/recipe-app into develop</li>
	<li>2016-01-09 added template file for user settings edit</li>
	<li>2016-01-09 added missing )</li>
	<li>2016-01-08 adjusted some logout things</li>
	<li>2016-01-08 some optical changes</li>
	<li>2016-01-08 improved user settings handling</li>
	<li>2016-01-08 added proper display of languages in settings</li>
	<li>2016-01-08 merged AuthorizationService with UserService</li>
	<li>2016-01-08 removed unnecessary file</li>
	<li>2016-01-08 cleanup of auhentication and user services added email confirmation procedure after registration proper error messages around all login/logout topics</li>
	<li>2016-01-05 updated readme</li>
	<li>2016-01-05 added alert service moved issues / bugs to github changed User handling to account for case insensitivity</li>
	<li>2016-01-05 renamed services added scheduleadd directly in recipe overview fixed orientation of uploaded pictures</li>
	<li>2016-01-05 deleted old code</li>
	<li>2016-01-05 renamed recipe service</li>
	<li>2016-01-05 removed old code</li>
	<li>2016-01-05 changed scheduleadd to own state and moved schedul logic into service (WIP)</li>
	<li>2016-01-04 some changes to readme and license</li>
	<li>2016-01-02 cleanup of unnecessary functions (modal)</li>
	<li>2016-01-01 added modalstate module and changed shopitems adding behaviour (cleanup needed) updated most libaries</li>
	<li>2015-12-30 added image deletion picture hide in xs version if there is no image fixed year change issue in schedules changed behaiviour of most frequent shopitems and added form check link impre$
	<li>2015-12-28 first steps for user settings page</li>
	<li>2015-12-28 added sharing functionality of recipes and stremlined recipe service</li>
	<li>2015-12-27 small adjustment</li>
	<li>2015-12-27 added all icons and splash screens</li>
	<li>2015-12-27 new set of icons and splash screens as well as new config file (WIP)</li>
	<li>2015-12-27 adjusted statusbar layout for ios app</li>
	<li>2015-12-27 adjustments for ios</li>
	<li>2015-12-26 again some sloght changes to CSP</li>
	<li>2015-12-26 adjusted CSP slightly for app</li>
	<li>2015-12-26 added some security restrictions</li>
	<li>2015-12-26 some small changes to layout and security in app</li>
	<li>2015-12-26 minor change in navigation</li>
	<li>2015-12-26 Merge branch 'develop'</li>
	<li>2015-12-26 adjusted menu image</li>
	<li>2015-12-26 added some smaler bugfixes as well as certificate error handling</li>
	<li>2015-12-26 Merge branch 'develop'</li>
	<li>2015-12-26 changed impressum and version</li>
	<li>2015-12-26 fixed autoupdate on second page visit</li>
	<li>2015-12-26 added brandlogo instead of text</li>
	<li>2015-12-25 fixed clear list in immediate view</li>
	<li>2015-12-25 set autoupdate as default</li>
	<li>2015-12-25 finalized new action navigation for mobile in shopitems as well as completely new shopitems service that handles all data interaction</li>
	<li>2015-12-25 WIP move shopitems logic into service instead of controller</li>
	<li>2015-12-24 show delete option also on mobile</li>
	<li>2015-12-24 fixed form validation and display of errors</li>
	<li>2015-12-24 bugfix for non-admin action button hide</li>
	<li>2015-12-24 bugfix with form validation</li>
	<li>2015-12-23 added mobile action menu (sidebar) and moved most of the logic into factory instead of controller</li>
	<li>2015-12-23 first addition of working recipe factory</li>
	<li>2015-12-23 WIP change controller into factory</li>
	<li>2015-12-17 removed title and action button for xs devices</li>
	<li>2015-12-15 improved navigation and access directive</li>
	<li>2015-12-14 fixed schedule add from recipes</li>
	<li>2015-12-13 added imagemagick to readme</li>
	<li>2015-12-13 added dependencies</li>
	<li>2015-12-13 added kerberos dependency</li>
	<li>2015-12-13 adjusted readme further</li>
	<li>2015-12-13 adjusted readme</li>
	<li>2015-12-13 added recipe recommendation</li>
	<li>2015-12-09 small fix in layout</li>
	<li>2015-12-09 version 2.8a</li>
	<li>2015-12-09 version 2.8</li>
	<li>2015-12-09 some improvement on clean all shopitems</li>
	<li>2015-12-08 added favorite recipe support and cleaning of shopitems</li>
	<li>2015-12-07 version 2.7a</li>
	<li>2015-12-06 version 2.7</li>
	<li>2015-12-06 finalized schedules and joined with cooking (except multiple recipe cooking). some minor bugfixes in dishtypes.</li>
	<li>2015-12-06 some further styling and clean-up of schedules</li>
	<li>2015-12-06 changes to chedules and shopitems</li>
	<li>2015-12-03 merged shopitems and frequentshopitems</li>
	<li>2015-12-02 adjusted schedule edit and shopping list info and view as well as some minor changes</li>
	<li>2015-11-29 version 2.6</li>
	<li>2015-11-29 adjusted no-picture rule</li>
	<li>2015-11-29 fix links</li>
	<li>2015-11-29 version 2.5</li>
	<li>2015-11-29 some changes regarding images, https and loading</li>
	<li>2015-11-28 version 2.4</li>
	<li>2015-11-28 adjusted resolve and overlay during state load</li>
	<li>2015-11-27 version 2.3</li>
	<li>2015-11-27 fixed camera use</li>
	<li>2015-11-27 some smaller adjustments</li>
	<li>2015-11-26 version 2.2</li>
	<li>2015-11-26 some buitifiing to the picture upload</li>
	<li>2015-11-26 added camera button</li>
	<li>2015-11-26 added upload functionality</li>
	<li>2015-10-30 version 2.1</li>
	<li>2015-10-30 added some animation during transition</li>
	<li>2015-10-30 improved recipe edit / view by using ui-router states</li>
	<li>2015-10-25 added dishtype logic and cleaned up recipe logic</li>
	<li>2015-10-20 version 2.0</li>
	<li>2015-10-20 removed unnecessary files, adjusted to new uib behaviour and added autosync of shopping list and somer other minor details</li>
	<li>2015-10-19 improved animations</li>
	<li>2015-10-18 version 1.9</li>
	<li>2015-10-18 added animations, password reset and startscreen redirect</li>
	<li>2015-10-11 adjusted home button</li>
	<li>2015-10-11 navigation bugfix</li>
	<li>2015-10-11 version 1.8</li>
	<li>2015-10-11 moved frequentshopitems to own path</li>
	<li>2015-10-11 added frequent ingredents functionality</li>
	<li>2015-10-04 version 1.7</li>
	<li>2015-10-04 cleanup navigation</li>
	<li>2015-10-04 adjusted navigation and further spliting in induvidual files</li>
	<li>2015-10-04 seperated app file into several modules</li>
	<li>2015-10-04 adjusted for ui router</li>
	<li>2015-09-27 added angular ui-router libary, adjustments still pending</li>
	<li>2015-09-27 update of all libaries</li>
	<li>2015-09-27 bug fix in auth and in admin section</li>
	<li>2015-09-13 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-09-13 updated changelog</li>
	<li>2015-09-13 fixed mobile app</li>
	<li>2015-09-13 path adjustments</li>
	<li>2015-09-13 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-09-13 some minor changes</li>
	<li>2015-09-13 new version</li>
	<li>2015-07-04 bug fix in shopitems</li>
	<li>2015-07-03 added base uri and category sort in user settings</li>
	<li>2015-06-07 updated changelog</li>
	<li>2015-06-07 added home to mobile nav.</li>
	<li>2015-06-07 added sidebar navigation for mobile devices, improved recipe list (optics) and recipe typeahead with author modifications.</li>
	<li>2015-06-07 adjusted config for cordova app</li>
	<li>2015-06-07 added changelog and author search in recipes</li>
	<li>2015-06-06 new home screen, adjusted recipe overview and new search filters for recipes (language and new)</li>
	<li>2015-06-06 adjusted user login check</li>
	<li>2015-06-06 added map files</li>
	<li>2015-06-06 added icons back to start page but only for admin</li>
	<li>2015-06-06 updated angular, improved login and added access denied page</li>
	<li>2015-06-06 modal for shopitems</li>
	<li>2015-06-06 added improved login/logout, navigation, etc.</li>
	<li>2015-06-04 changed buttons, added size to ingredient images and linebreaks to recipe instructions.</li>
	<li>2015-05-26 added carbs, fat and protein as well as ingredient deletion button and form validation</li>
	<li>2015-05-25 added app and downlaod</li>
	<li>2015-05-25 adjusted user handling and included ngStorage</li>
	<li>2015-05-24 actually taking the right file</li>
	<li>2015-05-24 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-05-24 added ngStorage</li>
	<li>2015-05-24 many bugfixes and layout corrections</li>
	<li>2015-05-23 adjucted shopitem view</li>
	<li>2015-05-23 corrected nav</li>
	<li>2015-05-23 changes splash screen (not working yet)</li>
	<li>2015-05-21 improvents in scheduleadd and recipe edit</li>
	<li>2015-05-20 adjusted author display, edit view, etc.</li>
	<li>2015-05-19 adjusted home link</li>
	<li>2015-05-18 adjusted navbar</li>
	<li>2015-05-18 adjusted navbar</li>
	<li>2015-05-18 adjustments to navbar</li>
	<li>2015-05-18 corrected links for app</li>
	<li>2015-05-17 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-05-17 increased version</li>
	<li>2015-05-17 small changes adding small pics</li>
	<li>2015-05-17 adjusted ingredients and added categories</li>
	<li>2015-05-13 adjusted autologin</li>
	<li>2015-05-13 changes to login/logout</li>
	<li>2015-05-13 Update README.md</li>
	<li>2015-05-12 added icon</li>
	<li>2015-05-11 adjusted source to ine base for web and cordova</li>
	<li>2015-05-11 adjusted for cordova</li>
	<li>2015-05-11 Update user.login.tpl.html</li>
	<li>2015-05-11 Update user.js</li>
	<li>2015-05-11 Update user.login.tpl.html</li>
	<li>2015-05-11 Update recipeapp.js</li>
	<li>2015-05-11 Update recipeapp.js</li>
	<li>2015-05-10 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-05-10 adjusted for proper logout</li>
	<li>2015-05-10 adjusted app behaviour in links</li>
	<li>2015-05-09 added cordova app</li>
	<li>2015-05-06 added author to recipe</li>
	<li>2015-05-05 fixed sorting and checking in shopping list</li>
	<li>2015-05-05 Update user.logout.tpl.html</li>
	<li>2015-05-05 Update user.register.tpl.html</li>
	<li>2015-05-05 Update user.login.tpl.html</li>
	<li>2015-05-05 Update units.tpl.html</li>
	<li>2015-05-05 Update ingredients.tpl.html</li>
	<li>2015-05-05 hide admin colums on small screens</li>
	<li>2015-05-05 registered users need to be confirmed by admin</li>
	<li>2015-05-04 adjusted User Status</li>
	<li>2015-05-04 updated angular and angular-ui, fixed autohide navbar</li>
	<li>2015-05-04 adjusted new name</li>
	<li>2015-05-04 added check off in shopitem list</li>
	<li>2015-05-03 changed layout</li>
	<li>2015-05-03 adjusted layout</li>
	<li>2015-05-03 added tagging and manual shopitem add</li>
	<li>2015-05-01 updated readme</li>
	<li>2015-05-01 smaller user adjustments</li>
	<li>2015-05-01 fixed ingredients in recipe and language</li>
	<li>2015-05-01 improved shopitems and deletion of them when deleting schedules</li>
	<li>2015-04-30 bug fixing schedule loading</li>
	<li>2015-04-30 fixed cooking after shopitem change</li>
	<li>2015-04-30 bug fix in cooking</li>
	<li>2015-04-30 adjusted next /prev date in cooking</li>
	<li>2015-04-30 Merge branch 'master' of https://github.com/jansauerbrey/recipe-app</li>
	<li>2015-04-30 changed shopitems logic and fixed naming in scheduling</li>
	<li>2015-04-30 fixed date in schedule</li>
	<li>2015-04-30 updated feature list</li>
	<li>2015-04-27 correct factor in shopping list and add bug list</li>
	<li>2015-04-24 improvement on shopping list</li>
	<li>2015-04-24 adjusted view for small screens</li>
	<li>2015-04-24 adjusted for small screens</li>
	<li>2015-04-24 limit typeahead to 10, renaming of files and ingredients detail view adjustments</li>
	<li>2015-04-22 structural adjustments, typeahead and layout</li>
	<li>2015-04-22 new structure and fixed typeahead</li>
	<li>2015-04-21 automatically load new schedule period</li>
	<li>2015-04-21 added renewal of token every time a page is loaded</li>
	<li>2015-04-20 added datepicker</li>
	<li>2015-04-20 Readme update</li>
	<li>2015-04-20 hide # in mobile view</li>
	<li>2015-04-20 First working scheduling</li>
	<li>2015-04-20 added explanatory text</li>
	<li>2015-04-19 added search to recipes</li>
	<li>2015-04-19 added README</li>
	<li>2015-04-19 removed languae titles</li>
	<li>2015-04-19 added bcrypt to dependencies</li>
	<li>2015-04-19 improved admin and added first scheduling parts</li>
	<li>2015-04-18 added user management</li>
	<li>2015-04-17 remove generated files since change to pm2</li>
	<li>2015-04-17 added file for pm2 process starting</li>
	<li>2015-03-31 SOme changes regarding recipe section</li>
	<li>2015-03-29 first changes to recipe including typeahead (not working yet)</li>
	<li>2015-03-27 smother navbar and recipe templates</li>
	<li>2015-03-25 optical changes and complete ingredients and unit pages</li>
	<li>2015-03-24 model creation and unit view</li>
	<li>2015-03-23 initial version</li>
      </ul>
    </div>
  </div>
