<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px;">
    <h3 style="margin-bottom: 30px;">Ingredients
      <a class="btn btn-primary pull-right" ui-sref="admin.ingredients.add" role="button"><i class="glyphicon glyphicon-plus"></i></a>
    </h3> 
    <input type="text" ng-model="search.name.$" class="form-control" placeholder="Search...">
    <div ng-show="loading" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
    <div class="list-group" style="margin-top: 20px;">
      <div ng-repeat="ingredient in ingredients | filter: search">
        <a class="list-group-item col-xs-12" ui-sref="admin.ingredients.edit({id: ingredient._id})">
          <div class="col-xs-3 col-sm-2"><img style="width: 60px; height: 60px;" ng-src="{{ingredient.rewe_img_link_xs}}"></img></div>
          <div class="col-xs-9 col-sm-10">{{ingredient.name.en}}</div>
          <div class="col-xs-9 col-sm-10">{{ingredient.name.de}}</div>
          <div class="col-xs-9 col-sm-10">{{ingredient.name.fi}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
