<img ng-src="img/menu.jpg" alt="Navigation Picture">
<div class="container visible-xs-block" style="width: 300px;">
  <div>
    <ul class="nav navbar-nav" ng-click="cancel()">
      <li>
        <a ui-sref="user.home" ng-show="determineVisibility('User')"><span class="glyphicon glyphicon-home" style="padding-right: 10px;"></span>rezept-planer.de</a>
        <a ui-sref="anon.startpage" ng-show="determineVisibility('NoUser')"><span class="glyphicon glyphicon-home" style="padding-right: 10px;"></span>rezept-planer.de</a>
      </li>
      <li class="divider" style="border-bottom: 1px solid #eee;"></li>
      <li ng-repeat="state in states | filter: {requiredPermissions: 'User', panelright: false}" ng-class="{active: activeState(state)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}"><span class="{{state.icon}}" style="padding-right: 10px;"></span>{{ state.label }}</a>
      </li>
      <li class="divider" style="border-bottom: 1px solid #eee;" ng-show="determineVisibility('User')"></li>
      <li ng-repeat="state in states | filter: {requiredPermissions: 'Admin', panelright: false}" ng-class="{active: activeState(state)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}"><span class="{{state.icon}}" style="padding-right: 10px;"></span>{{ state.label }}</a>
      </li>
      <li class="divider" style="border-bottom: 1px solid #eee;" ng-show="determineVisibility('Admin')"></li>
      <li ng-repeat="state in states | filter: {panelright: true}" ng-class="{active: activeState(state)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}"><span class="{{state.icon}}" style="padding-right: 10px;"></span>{{ state.label }}</a>
      </li>
      <li class="divider" style="border-bottom: 1px solid #eee;"></li>
      <li ng-repeat="state in states | filter: {requiresLogin: false, panelright: false}" ng-class="{active: activeState(state)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}"><span class="{{state.icon}}" style="padding-right: 10px;"></span>{{ state.label }}</a>
      </li>
      <li>
        <a ui-sref="impressum"><span class="glyphicon glyphicon-info-sign" style="padding-right: 10px;"></span>Impressum</a>
      </li>
    </ul>
  <div>
<div>
