<div class="row">
<nav class="navbar navbar-default navbar-fixed-top" style="padding:0;" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" style="float: left; margin-left: 15px;" ng-click="navSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="beta-tag">&nbsp;BETA&nbsp;</div>
	<a class="hidden-xs hidden-md hidden-lg navbar-brand" ui-sref="user.home" ng-show="determineVisibility('User')"><span class="glyphicon glyphicon-home" style="padding-left: 20px;"></span></a>
	<a class="hidden-xs hidden-sm navbar-brand" ui-sref="user.home" ng-show="determineVisibility('User')">rezept-planer.de</a>
	<a class="hidden-xs navbar-brand" ui-sref="anon.startpage" ng-show="determineVisibility('NoUser')">rezept-planer.de</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-repeat="state in states | filter: {requiredPermissions: 'User', panelright: false}" ng-class="{active: $state.is(state.name)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}">{{ state.label }}</a>
      </li>
      <li ng-repeat="state in states | filter: {requiresLogin: false, panelright: false}" ng-class="{active: $state.is(state.name)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}">{{ state.label }}</a>
      </li>
      <li class="hidden-xs hidden-sm" dropdown is-open="othersIsOpen">
      <a class="dropdown-toggle" ui-sref="/" dropdown-toggle ng-show="determineVisibility('Admin')">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="state in states | filter: {requiredPermissions: 'Admin', panelright: false}" ng-class="{active: $state.is(state.name)}" ng-show="determineVisibility(state.requiredPermissions)">
            <a ui-sref="{{state.name}}">{{ state.label }}</a>
          </li>
        </ul>
      </li>
      <li class="hidden-sm hidden-md hidden-lg" ng-repeat="state in states | filter: {requiredPermissions: 'Admin', panelright: false}" ng-class="{active: $state.is(state.name)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}">{{ state.label }}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-repeat="state in states | filter: {panelright: true}" ng-class="{active: $state.is(state.name)}" ng-show="determineVisibility(state.requiredPermissions)">
        <a ui-sref="{{state.name}}">{{ state.label }}</a>
      </li>
    </ul>
    <p class="navbar-text navbar-right visible-lg-block"><a ui-sref="user.details" class="navbar-link">{{user.fullname}}</a></p>

  </div>
</div>
</nav>
</div>
