<img ng-src="img/menu.jpg" alt="Navigation Picture">
<div class="container visible-xs-block navbar-sidebar">
  <div>
    <ul class="nav navbar-nav" ng-click="cancel()">
      <li>
        <a ui-sref="user.home" ng-class="{active: $state.includes('user.home')}" access="User"><span class="glyphicon glyphicon-home navbar-padding-right-button"></span>rezept-planer.de</a>
        <a ui-sref="anon.startpage" ng-class="{active: $state.includes('anon.startpage')}" access="NoUser"><span class="glyphicon glyphicon-home navbar-padding-right-button"></span>rezept-planer.de</a>
      </li>
      <li class="divider navbar-divider"></li>
      <li ng-class="{active: $state.includes('user.recipes')}" access="User">
        <a ui-sref="user.recipes"><span class="glyphicon glyphicon-cutlery navbar-padding-right-button"></span>Recipes</a>
      </li>
      <li ng-class="{active: $state.includes('user.schedules')}" access="User">
        <a ui-sref="user.schedules"><span class="glyphicon glyphicon-calendar navbar-padding-right-button"></span>Schedules</a>
      </li>
      <li ng-class="{active: $state.includes('user.shopitems')}" access="User">
        <a ui-sref="user.shopitems.view"><span class="glyphicon glyphicon-shopping-cart navbar-padding-right-button"></span>Shopping</a>
      </li>
      <li ng-class="{active: $state.includes('user.settings')}" access="User">
        <a ui-sref="user.settings"><span class="glyphicon glyphicon-cog navbar-padding-right-button"></span>Settings</a>
      </li>
      <li class="divider navbar-divider" access="User"></li>
      <li ng-class="{active: $state.includes('admin.units')}" access="Admin">
        <a ui-sref="admin.units.list"><span class="glyphicon glyphicon-scale navbar-padding-right-button"></span>Units</a>
      </li>
      <li ng-class="{active: $state.includes('admin.ingredients')}" access="Admin">
        <a ui-sref="admin.ingredients.list"><span class="glyphicon glyphicon-apple navbar-padding-right-button"></span>Ingredients</a>
      </li>
      <li ng-class="{active: $state.includes('admin.tags')}" access="Admin">
        <a ui-sref="admin.tags.list"><span class="glyphicon glyphicon-tags navbar-padding-right-button"></span>Tags</a>
      </li>
      <li ng-class="{active: $state.includes('admin.dishtypes')}" access="Admin">
        <a ui-sref="admin.dishtypes.list"><span class="glyphicon glyphicon-grain navbar-padding-right-button></span>Dish types</a>
      </li>
      <li ng-class="{active: $state.includes('admin.user')}" access="Admin">
        <a ui-sref="admin.user"><span class="glyphicon glyphicon-user navbar-padding-right-button"></span>Users</a>
      </li>
      <li class="divider navbar-divider" access="Admin"></li>
      <li ng-class="{active: $state.includes('user.logout')}" access="User">
        <a ui-sref="user.logout"><span class="glyphicon glyphicon-log-out navbar-padding-right-button"></span>Logout</a>
      </li>
      <li ng-class="{active: $state.includes('anon.user.login')}" access="NoUser">
        <a ui-sref="anon.user.login"><span class="glyphicon glyphicon-log-in navbar-padding-right-button"></span>Login</a>
      </li>
      <li ng-class="{active: $state.includes('anon.user.register')}" access="NoUser">
        <a ui-sref="anon.user.register"><span class="glyphicon glyphicon-edit navbar-padding-right-button"></span>Register</a>
      </li>
      <li class="divider navbar-divider"></li>
      <li ng-class="{active: $state.includes('impressum')}">
        <a ui-sref="impressum"><span class="glyphicon glyphicon-info-sign navbar-padding-right-button"></span>Impressum</a>
      </li>
    </ul>
  <div>
<div>
