<div ng-class="{'hidden-xs': recipe.imagePath=='no_image.png'}" class="col-xs-12 col-sm-5 thumbnail">
	<img ng-src="https://www.rezept-planer.de/upload/{{recipe.imagePath}}" spinkit-image-preloader='double-bounce-spinner'></img>
</div>
<div class="col-xs-12 col-sm-7 padding-xs-off">
	<div class="col-xs-12 padding-off margin-bottom-10">
      		<p class="text-muted text-uppercase"><small>{{recipe.author.fullname}}</small></p>
		<h3 class="hidden-xs">{{recipe.name}}</h3>
      		<p class="text-info text-uppercase"><small>{{recipe.dishType.name_translated}}</small></p>
		<span ng-repeat="tag in recipe.tags" class="label label-default recipe-tags">{{tag.text}}</span>
	</div>
	<div class="col-xs-12 padding-off margin-bottom-10">
		<div class="tiles" ng-show="userExists&&recipe.fav_recipe">
			<div class="thumbnail"><i class="glyphicon" ng-class="{'glyphicon-heart': recipe.fav_recipe===true, 'glyphicon-heart-empty': recipe.fav_recipe===false}"></i><span ng-show="recipe.fav_recipe">Favorite</span><span ng-hide="recipe.fav_recipe">Regular</span></div>
		</div>
		<div class="tiles">
			<div class="thumbnail"><i class="glyphicon glyphicon-user"></i><span ng-show="factorAvailable"><input type="number" ng-model="factor" ng-required="true" class="form-control" ></span><span ng-hide="factorAvailable">{{recipe.yield}}</span></div>
		</div>
		<div class="tiles">
			<div class="thumbnail"><i class="glyphicon glyphicon-time"></i><span>{{recipe.totalTime | timeFilter:'mm'}}</span></div>
		</div>
		<div class="tiles" ng-show="recipe.kilocalories">
			<div class="thumbnail"><i class="glyphicon glyphicon-fire"></i><span>{{recipe.kilocalories}} kcal</span></div>
		</div>
		<div class="tiles" ng-show="recipe.carb">
			<div class="thumbnail"><i class="glyphicon glyphicon-grain"></i><span>{{recipe.carb}} g</span></div>
		</div>
		<div class="tiles" ng-show="recipe.fat">
			<div class="thumbnail"><i class="glyphicon glyphicon-oil"></i><span>{{recipe.fat}} g</span></div>
		</div>
		<div class="tiles" ng-show="recipe.protein">
			<div class="thumbnail"><i class="glyphicon glyphicon-baby-formula"></i><span>{{recipe.protein}} g</span></div>
		</div>
	</div>
</div>
<div class="col-xs-12 padding-off">
	<table class="table table-striped">
		<thead>
			<th>Amount</th>
			<th>Unit</th>
			<th>Ingredient</th>
		</thead>
		<tbody>
			<tr ng-repeat="ingredient in recipe.ingredients" ng-if="ingredient.ingredient">
				<td>{{factor/recipe.yield*ingredient.qty | number}}</td>
				<td>
					<span ng-show="recipe.language==='en'">{{ingredient.unit.name.en}}</span>
					<span ng-show="recipe.language==='de'">{{ingredient.unit.name.de}}</span>
					<span ng-show="recipe.language==='fi'">{{ingredient.unit.name.fi}}</span>
				</td>
				<td>
					<span ng-show="recipe.language==='en'">{{ingredient.ingredient.name.en}}</span>
					<span ng-show="recipe.language==='de'">{{ingredient.ingredient.name.de}}</span>
					<span ng-show="recipe.language==='fi'">{{ingredient.ingredient.name.fi}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-xs-12 padding-off">
	<label class="control-label">Instructions:</label>
	<p class="recipe-instructions">{{recipe.instructions}}</p>
</div>
<div class="col-xs-12 col-sm-6 padding-xs-off padding-left-off">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Preparation time:</th>
				<td>{{recipe.prepTime}} min</td>
			</tr>
			<tr>
				<th>Cooking time:</th>
				<td>{{recipe.cookTime}} min</td>
			</tr>
			<tr>
				<th>Waiting time:</th>
				<td>{{recipe.waitTime}} min</td>
			</tr>
			<tr>
				<th>Total time:</th>
				<td>{{recipe.totalTime}} min</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-xs-12 col-sm-6 padding-xs-off padding-right-off">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Kcal / person:</th>
				<td>{{recipe.kilocalories}}</td>
			</tr>
			<tr>
				<th>Carb / 100g:</th>
				<td>{{recipe.carb}} g</td>
			</tr>
			<tr>
				<th>Fat / 100g:</th>
				<td>{{recipe.fat}} g</td>
			</tr>
			<tr>
				<th>Protein / 100g:</th>
				<td>{{recipe.protein}} g</td>
			</tr>
		</tbody>
	</table>
</div>
