<div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <input type="text" ng-model="search.name" class="form-control" placeholder="Search...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="hideAdvSearch=!hideAdvSearch">Advanced Search <span class="caret"></span></button>
      </div>
    </div>
      <div class="panel panel-default form-group" ng-hide="hideAdvSearch">
        <div class="panel-body">
          <accordion>
            <accordion-group is-open="status.tags">
              <accordion-heading class="col-xs-12">
                Tags <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.tags, 'glyphicon-chevron-right': !status.tags}"></i>
              </accordion-heading>
              <div class="panel-body">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="tag in tags">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="tagfilter[tag.text]">{{tag.text}}
                    </label>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
    </div>
    <div class="col-xs-12">
      <h4 class="col-sm-12 hidden-xs">Recipes:</h4>     
    </div>
    <div ng-show="loading" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
    <div class="list-group">
      <div ng-repeat="recipe in filtered=(recipes | filter: search | filter: filterByTags)">
        <a class="list-group-item col-xs-12" href="#/recipes/edit/{{recipe._id}}">
          <div class="list-group-item-heading">{{recipe.name}}</div>
          <div class="list-group-item-text">
             <span ng-repeat="tag in recipe.tags" class="label label-primary" style="margin: 2px; display: inline-block;">{{tag.text}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12" style="margin-top:15px;">
    <div class="form-inline form-group">
      <a class="btn btn-primary" href="#/recipes/add/" role="button">add</a>
    </div>
  </div>
</div>
