<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}</uib-alert>
		<div class="col-xs-12 col-sm-5 thumbnail">
	<img ng-src="https://www.rezept-planer.de/upload/{{recipe.imagePath}}" spinkit-image-preloader='double-bounce-spinner'></img>
		</div>
		<div class="col-xs-12 col-sm-7 padding-xs-off">
			<div class="col-xs-12" style="padding: 0px; margin-bottom: 10px;">
		      		<p class="text-muted text-uppercase"><small>{{recipe.author.fullname}}</small></p>
				<h3>{{recipe.name}}</h3>
		      		<p class="text-info text-uppercase"><small>{{recipe.dishType.name_translated}}</small></p>
				<span ng-repeat="tag in recipe.tags" class="label label-primary" style="margin: 2px; display: inline-block;">{{tag.text}}</span>
			</div>
			<div class="col-xs-3 thumbnail" style="padding: 10px;">
				<span><i class="glyphicon glyphicon-user fa-2x" style="margin-right: 5px;"></i> {{recipe.yield}} pers.</span>
			</div>
			<div class="col-xs-3 col-xs-offset-1 thumbnail" style="padding: 10px;">
				<span><i class="glyphicon glyphicon-time fa-2x" style="margin-right: 5px;"></i> {{recipe.totalTime}} min.</span>
			</div>
			<div class="col-xs-3 col-xs-offset-1 thumbnail" style="padding: 10px;">
				<span><i class="glyphicon glyphicon-glass fa-2x" style="margin-right: 5px;"></i> {{recipe.kilocalories}} kcal.</span>
			</div>
		</div>
		<div class="col-xs-12" style="padding: 0px;">
			<table class="table table-striped">
				<thead>
					<th>Amount</th>
					<th>Unit</th>
					<th>Ingredient</th>
				</thead>
				<tbody>
					<tr ng-repeat="ingredient in recipe.ingredients" ng-if="ingredient.ingredient">
						<td>{{ingredient.qty | number}}</td>
						<td>
							<span ng-show="recipe.language==='en'">{{ingredient.unit.name.en}}</span>
							<span ng-show="recipe.language==='de'">{{ingredient.unit.name.de}}</span>
							<span ng-show="recipe.language==='fi'">{{ingredient.unit.name.fi}}</span>
						</td>
						<td>
							<span ng-show="recipe.language==='en'">{{ingredient.ingredient.name.en}}</span>
							<span ng-show="recipe.language==='de'">{{ingredient.ingredient.name.de}}</span>
							<span ng-show="recipe.language==='fi'">{{ingredient.ingredient.name.fi}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12" style="padding: 0px;">
			<label class="control-label">Instructions:</label>
			<p style="white-space: pre-line;">{{recipe.instructions}}</p>
		</div>
		<div class="col-xs-12 col-sm-6 padding-xs-off" style="padding-left: 0px;">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Preparation time:</th>
						<td>{{recipe.prepTime}} min</td>
					</tr>
					<tr>
						<th>Cooking time:</th>
						<td>{{recipe.cookTime}} min</td>
					</tr>
					<tr>
						<th>Waiting time:</th>
						<td>{{recipe.waitTime}} min</td>
					</tr>
					<tr>
						<th>Total time:</th>
						<td>{{recipe.totalTime}} min</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-sm-6 padding-xs-off" style="padding-right: 0px;">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Kcal / person:</th>
						<td>{{recipe.kilocalories}}</td>
					</tr>
					<tr>
						<th>Carb / 100g:</th>
						<td>{{recipe.carb}} g</td>
					</tr>
					<tr>
						<th>Fat / 100g:</th>
						<td>{{recipe.fat}} g</td>
					</tr>
					<tr>
						<th>Protein / 100g:</th>
						<td>{{recipe.protein}} g</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2" ng-include="'partials/recipes.view.links.tpl.html'"></div>

</div>
