<div class="side-links"><a ng-click=""><i class="glyphicon glyphicon-print"></i> Print</a></div>
<div class="side-links"><a ng-click=""><i class="glyphicon glyphicon-heart"></i> Add to Favorites</a></div>
<div class="side-links"><a ng-click="recipecopy=true"><i class="glyphicon glyphicon-duplicate"></i> Copy to My Recipes</a></div>
<div class="side-links"><a ng-click=""><i class="glyphicon glyphicon-share"></i> Share</a></div>
<div class="side-links"><a ng-click="recipeedit=true" ng-show="allowEdit"><i class="glyphicon glyphicon-pencil"></i> Edit</a></div>
<div class="side-links"><a ng-click=""><i class="glyphicon glyphicon-trash"></i> Remove</a></div>
<div class="side-links"><a ng-click="scheduleAdd()"><i class="glyphicon glyphicon-calendar"></i> Add to Schedules</a></div>
