<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px;">
    <h3 style="margin-bottom: 30px;">Recipes
      <a class="btn btn-primary pull-right" href="#/recipes/add/" role="button"><i class="glyphicon glyphicon-plus"></i></a>
    </h3> 
    <div class="input-group">
      <input type="text" ng-model="search.name" class="form-control" placeholder="Search...">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="hideAdvSearch=!hideAdvSearch"><span class="hidden-xs">Advanced Search </span><span class="caret"></span></button>
      </div>
    </div>
      <div class="panel panel-default form-group" ng-hide="hideAdvSearch">
        <div class="panel-body">
              <div class="page-header col-xs-12" style="margin-top: 0px;">
                <h5><strong>Language and new recipes</strong></h5>
              </div>
              <div class="panel-body">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="radio">
                    <label>
                      <input type="radio" value="en" ng-model="search.language">English
                    </label>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="radio">
                    <label>
                      <input type="radio" value="de" ng-model="search.language">German
                    </label>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="radio">
                    <label>
                      <input type="radio" value="fi" ng-model="search.language">Finnish
                    </label>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                  <div class="radio">
                    <label>
                      <input type="radio" value="" ng-model="search.language">All languages
                    </label>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="search.new_recipe" ng-false-value="undefined">Show only new recipes
                    </label>
                  </div>
                </div>
              </div>
              <div class="page-header col-xs-12" style="margin-top: 0px;">
                <h5><strong>Author</strong></h5>
              </div>
              <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="search.author.fullname" ng-disabled="search.author._id" placeholder="Author...">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="search.author._id" ng-true-value="'{{user._id}}'" ng-false-value="undefined" ng-change="disableAndClearAuthor()">Show only my own recipes
                    </label>
                  </div>
                </div>
              </div>
              <div class="page-header col-xs-12" style="margin-top: 0px;">
                <h5><strong>Tags</strong></h5>
              </div>
              <div class="panel-body">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="tag in tags | orderBy: 'text'">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="tagfilter[tag.text]">{{tag.text}}
                    </label>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div ng-show="loading" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
    <div class="list-group" style="margin-top: 20px;">
      <div ng-repeat="recipe in filtered=(recipes | filter: search | filter: filterByTags) | orderBy: 'name'">
        <a class="list-group-item col-xs-12 col-md-6 col-lg-6" href="#/recipes/edit/{{recipe._id}}">
          <div class="list-group-item-heading">
            <big>{{recipe.name}}</big>
            <div class="label label-danger" ng-show="recipe.new_recipe">New</div><br />
            <span class="text-muted">Author: {{recipe.author.fullname}}</span>
          </div>
          <div class="list-group-item-text">
             <span ng-repeat="tag in recipe.tags" class="label label-primary" style="margin: 2px; display: inline-block;">{{tag.text}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
