  <div class="modal-header">
    <h4 class="modal-title"><strong>Share:</strong> {{recipe.name}}</h4>
  </div>
  <div class="modal-body">
		<a class="btn btn-default spacing-10"
			href="mailto:?subject=Look at this Recipe: {{recipe.name}}&body=Hi, I found this recipe and thought you might like it https://www.rezept-planer.de/#/sharedrecipe/{{recipe._id}}" >
			<i class="fa fa-envelope"></i> Email
		</a>
		<button class="btn btn-default spacing-10"
			socialshare
			socialshare-provider="facebook"
			socialshare-type="feed"
			socialshare-via="771487702957367"
			socialshare-media="https://www.rezept-planer.de/upload/{{recipe.imagePath}}"
			socialshare-text="{{recipe.name}}"
			socialshare-caption="www.rezept-planer.de"
			socialshare-url="https://www.rezept-planer.de/#/sharedrecipe/{{recipe._id}}"
			socialshare-redirect-uri="https://www.rezept-planer.de/closewindow.html"
			socialshare-trigger="click" >
			<i class="fa fa-facebook"></i> Facebook
		</button>
		<button class="btn btn-default spacing-10"
			socialshare
			socialshare-provider="twitter"
			socialshare-hashtags="{{hashtags}}"
			socialshare-via="rezept-planer.de"
			socialshare-text="{{recipe.name}}"
			socialshare-url="https://www.rezept-planer.de/#/sharedrecipe/{{recipe._id}}"
			socialshare-trigger="click" >
			<i class="fa fa-twitter"></i> Twitter
		</button>
	  <button class="btn btn-default spacing-10"
		  socialshare
		  socialshare-provider="google"
			socialshare-text="{{recipe.name}}"
			socialshare-url="https://www.rezept-planer.de/#/sharedrecipe/{{recipe._id}}"
		  socialshare-trigger="click">
		  <i class="fa fa-google-plus"></i> Google+
		</button>
	  <button class="btn btn-default spacing-10"
		  socialshare
		  socialshare-provider="pinterest"
			socialshare-media="https://www.rezept-planer.de/upload/{{recipe.imagePath}}"
			socialshare-text="{{recipe.name}}"
			socialshare-url="https://www.rezept-planer.de/#/sharedrecipe/{{recipe._id}}"
		  socialshare-trigger="click" >
		  <i class="fa fa-pinterest"></i> Pinterest
		</button>
  </div>
  <div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-primary">close</button>
  </div>
