  <div class="row">
      <div class="col-xs-12 text-center">
      	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <h3 style="margin-bottom: 30px;">
          <a class="btn btn-primary pull-left" ui-sref="user.schedules.add({date: prevDate})"><span class="glyphicon glyphicon-chevron-left"></a>
          {{startDate | date:'EEEE dd.MM.yyyy'}}
          <a class="btn btn-primary pull-right" ui-sref="user.schedules.add({date: nextDate})"><span class="glyphicon glyphicon-chevron-right"></a>
        </h3>
      </div>
      <div class="col-xs-12">
        <table class="table table-striped col-xs-12">
          <thead class="hidden-xs">
            <th>Person</th>
            <th>Recipe</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="number" ng-model="newfactor" class="form-control" placeholder="# Persons" style="max-width: 120px;">
              </td>
              <td>
                <input type="text" ng-model="newrecipe" uib-typeahead="recipe as recipe.name for recipe in GetRecipes($viewValue)" typeahead-template-url="partials/recipes.typeahead.tpl.html" typeahead-editable="false" class="form-control" placeholder="Add Recipe...">
              </td>
              <td>
                <a class="btn btn-primary pull-right" ng-click="addRecipe()" role="button">add</a>
              </td>
            </tr>
            <tr ng-repeat="schedule in schedulesArray[0].schedule">
              <td>
                {{schedule.factor}}
              </td>
              <td>
                {{schedule.recipe.name}}
              </td>
              <td style="min-width: 95px;">
                <a class="btn btn-primary btn-sm pull-right" ng-really-message="Are you sure?" ng-really-click="remove(schedule)" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                <a class="btn btn-primary btn-sm pull-right" style="margin-right:10px;" ng-click="scheduleEdit(schedule)" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
