<div class="side-links"><button type="button" class="btn btn-link" ng-click="modalShopitemAdd()"><i class="glyphicon glyphicon-plus"></i> Add new item</button></div>
<div class="side-links"><button type="button" class="btn btn-link" ng-really-click="remove()" ng-really-message="Are you sure to delete all items in the shopping list?"><i class="glyphicon glyphicon-trash"></i> Clear list</button></div>
<div class="side-links"><button type="button" class="btn btn-link" ng-show="autoupdate" ng-click="stopAutoupdate()"><i class="glyphicon glyphicon-ban-circle"></i> Stop sync</button></div>
<div class="side-links"><button type="button" class="btn btn-link" ng-show="!autoupdate" ng-click="startAutoupdate()"><i class="glyphicon glyphicon-refresh"></i> Start sync</button></div>
