  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 100px;">
    <h3 style="margin-bottom: 30px;">Shopitems
      <button ng-click="modalShopitemAdd()" class="btn btn-primary pull-right visible-xs-block"><span class="glyphicon glyphicon-plus"></span></a>
    </h3>
      <table class="col-xs-12 table table-striped">
        <thead class="hidden-xs">
          <th></th>
          <th>Ingredient</th>
          <th class="hidden-xs">Amount</th>
          <th class="hidden-xs">Unit</th>
          <th class="hidden-sm hidden-md hidden-lg">#</th>
          <th class="hidden-sm hidden-xs">Category</th>
          <th class="hidden-sm hidden-xs">Subcategory</th>
          <th class="hidden-sm hidden-xs">Subsubcategory</th>
          <th class="hidden-xs"></th>
        </thead>
        <tbody>
          <tr class="hidden-xs">
            <td class="text-center" style="vertical-align:middle;"><span class="glyphicon glyphicon-asterisk"></span></td>
            <td><input type="text" ng-model="newingredient" typeahead="ingredient as ingredient.name.de for ingredient in GetIngredients($viewValue)" typeahead-editable="false" typeahead-template-url="partials/ingredients.typeahead.tpl.html" class="form-control" placeholder="Shopitem..."></td>
            <td class="hidden-xs"><input type="number" ng-model="newamount" class="form-control" style="width: 70px;"></td>
            <td class="hidden-xs"><select ng-options="unit._id as unit.name.de for unit in units" ng-model="newunit" class="form-control" placeholder="Unit..."></select></td>
            <td class="hidden-sm hidden-md hidden-lg"></td>
            <td class="hidden-sm hidden-xs">{{newingredient.category}}</td>
            <td class="hidden-sm hidden-xs">{{newingredient.subcategory}}</td>
            <td class="hidden-sm hidden-xs">{{newingredient.subsubcategory}}</td>
            <td><a class="btn btn-primary pull-right hidden-xs" ng-click="addShopitem()" role="button"><span class="glyphicon glyphicon-plus"></span></a></td>
          </tr>
          <tr ng-repeat="item in shopitems | orderBy: ['ingredient.category','ingredient.subcategory','ingredient.subsubcategory','ingredient.name.de']" class="done-{{item.completed}}">
            <td><checkbox ng-model="item.completed" ng-change="complete(item)"></checkbox></td>
            <td>{{item.ingredient.name.de}}</td>
            <td class="hidden-xs">{{item.amount | number}}</td>
            <td class="hidden-xs">{{item.unit.name.de}}</td>
            <td class="hidden-sm hidden-md hidden-lg" style="min-width: 80px;">{{item.amount | number}} {{item.unit.name.de}}</td>
            <td class="hidden-sm hidden-xs">{{item.ingredient.category}}</td>
            <td class="hidden-sm hidden-xs">{{item.ingredient.subcategory}}</td>
            <td class="hidden-sm hidden-xs">{{item.ingredient.subsubcategory}}</td>
            <td><a class="btn btn-primary pull-right hidden-xs" ng-really-message="Are you sure?" ng-really-click="remove(item)" role="button"><span class="glyphicon glyphicon-trash"></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
