  <div class="modal-header">
    <h4 class="modal-title"><strong>Shopping: </strong>{{item.ingredient.name_translated}}</h4>
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
  	<div class="row">
	    <div class="col-xs-12" style="margin-bottom: 100px;">
		    <table class="col-xs-12 table table-striped">
		      <thead>
		        <th style="width: 30px;"></th>
		        <th>Amount</th>
		        <th>Recipe</th>
		        <th class="hidden-xs">Scheduled / Added</th>
	          <th style="width: 30px;"></th>
		      </thead>
		      <tbody>
		        <tr ng-repeat="subitem in item.details">
	            <td style="width: 30px;"><button class="btn btn-default" ng-click="complete(subitem)"><span class="glyphicon" ng-class="{'glyphicon-none': !subitem.completed, 'glyphicon-ok': subitem.completed}"></span></button></td>
		          <td style="min-width: 80px;">{{subitem.amount | number}} {{subitem.unit.name_translated}}</td>
		          <td>{{subitem.recipe.name || "Manually added to shopping list"}}<br class="visible-xs"/><span class="visible-xs">{{(subitem.schedule.date | date:'dd.MM.yyyy' ) || (subitem.updated_at | date:'dd.MM.yyyy' )}}</span></td>
		          <td class="hidden-xs">{{(subitem.schedule.date | date:'EEE dd.MM.yyyy' ) || (subitem.updated_at | date:'EEE dd.MM.yyyy' )}}</td>
	            <td style="width: 30px;">
	            	<button class="btn btn-default pull-right" ng-really-click="remove(subitem)" role="button">
	            		<span class="glyphicon glyphicon-trash"></span>
	            	</button>
	            </td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
	  </div>
  </div>
  <div class="modal-footer">
    <button ng-click="close()" class="btn btn-default">close</button>
  </div>