<a href="#/recipes/" access="User">
  <div class="col-xs-6 text-center" style="padding: 50px;">
    <span class="glyphicon glyphicon-cutlery fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Recipes</span>
  </div>
</a>

<a href="#/schedules/" access="User">
  <div class="col-xs-6 text-center" style="padding: 50px;">
    <span class="glyphicon glyphicon-calendar fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Schedule</span>
  </div>
</a>

<a href="#/shopitems/" access="User">
  <div class="col-xs-6 text-center" style="padding: 50px;">
    <span class="glyphicon glyphicon-shopping-cart fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Shopping list</span>
  </div>
</a>

<a href="#/cooking/" access="User">
  <div class="col-xs-6 text-center" style="padding: 50px;">
    <span class="glyphicon glyphicon-fire fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Cooking</span>
  </div>
</a>

<div class="jumbotron" access="NoUser">
  <h1>Rezept Planer</h1>
  <p>Die Seite rezept-planer.de bietet die Möglichkeit eigene Rezepte anzulegen, zu planen und automatisch einkaufslisten zu erhalten.</p>
  <p class="text-danger">Aktuell befindet sich diese Seite noch in der Beta-Phase und ist nur für einen ausgewählten Personenkreis freigeschaltet. Solltest du Interesse haben, dann kontaktier mich einfach. Meine Kontaktinfos findest du im Impressum.</p>
  <p><a class="btn btn-default btn-lg" style="margin-right: 20px" href="#/user/register/" role="button">register</a><a class="btn btn-primary btn-lg" href="#/user/login/" role="button">login</a></p>
</div>
