<div class="jumbotron" access="NoUser">
  <h1>Recipe Planner</h1>
  <p>This page gives you the possibility to save and schedule recipes and automatically generate a shopping list which can be accessed using ie a mobile phone</p>
  <p class="text-danger">This page is still in closed beta phase. Nevertheless, you are welcome to become a tester yourself. Please contact me upfront and I will give you access to the beta program. You can find my contact details in the impressum.</p>
  <p>To get the page (and app) working, you have to isntall the certificates used in the API. To do that I recommend that you install the following CA (<a ng-click="openLink('http://helsinki.sby.eu/crl/sby.eu.crt')" style="cursor: pointer;">link</a>) 
  	and trust it.</p>
</div>
