<div class="jumbotron" access="NoUser">
  <h1>Rezept Planer</h1>
  <p>Die Seite rezept-planer.de bietet die Möglichkeit eigene Rezepte anzulegen, zu planen und automatisch einkaufslisten zu erhalten.</p>
  <p class="text-danger">Aktuell befindet sich diese Seite noch in der Beta-Phase und ist nur für einen ausgewählten Personenkreis freigeschaltet. Solltest du Interesse haben, dann kontaktier mich einfach. Meine Kontaktinfos findest du im Impressum.</p>
  <p>Damit diese Seite funktioniert, solltest du (insb. bei der App) folgender CA (<a ng-click="openLink('http://helsinki.sby.eu/crl/sby.eu.crt')" style="cursor: pointer;">link</a>) vertrauen, da die genutzten Zertifikate seblbst signiert sind.</p>
</div>
