<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px;">
    <h3 style="margin-bottom: 30px;" class="hidden-xs">Tags
      <a class="btn btn-primary pull-right" ui-sref="admin.tags.add" role="button"><i class="glyphicon glyphicon-plus"></i></a>
    </h3> 
    <input type="text" ng-model="search.text.$" class="form-control" placeholder="Search...">
    <div class="list-group" style="margin-top: 20px;">
      <div ng-repeat="tag in tags | filter: search | orderBy: 'text'">
        <a class="list-group-item col-xs-12" ui-sref="admin.tags.edit({id: tag._id})">
          <div class="col-xs-4">{{tag.text}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
