<div class="row">
  <div class="col-xs-12" style="margin-bottom: 20px;">
    <h3 style="margin-bottom: 30px;">Units
      <a class="btn btn-primary pull-right" ui-sref="admin.units.add" role="button"><i class="glyphicon glyphicon-plus"></i></a>
    </h3> 
    <input type="text" ng-model="search.name.$" class="form-control" placeholder="Search...">
    <div class="list-group" style="margin-top: 20px;">
      <div ng-repeat="unit in units | filter: search | orderBy: 'name.de'">
        <a class="list-group-item col-xs-12" ui-sref="admin.units.edit({id: unit._id})">
          <div class="col-xs-4">{{unit.name.en}}</div>
          <div class="col-xs-4">{{unit.name.de}}</div>
          <div class="col-xs-4">{{unit.name.fi}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
