<div class="row">
<div class="col-xs-12">
<h3 style="margin-bottom: 30px;" class="hidden-xs">User registration</h3>
<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputUsername" class="col-sm-4 control-label">Username</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-4 control-label">Password</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPasswordConfirmation" class="col-sm-4 control-label">Password Confirmation</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="Password" ng-model="user.passwordConfirmation">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-sm-4 control-label">Email</label>
			<div class="col-sm-4">
				<input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmailConfirmation" class="col-sm-4 control-label">Email Confirmation</label>
			<div class="col-sm-4">
				<input type="email" class="form-control" id="inputEmailConfirmation" placeholder="Email" ng-model="user.emailConfirmation">
			</div>
		</div>
		<div class="form-group">
			<label for="inputFullname" class="col-sm-4 control-label">Fullname</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="inputFullname" placeholder="Fullname" ng-model="user.fullname">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Preferred language:</label>
			<div class="col-sm-4">
				<select name="preferredLanguage" ng-options="languageOption.id as languageOption.name for languageOption in languageOptions | orderBy: 'name'" ng-model="user.settings.preferredLanguage" ng-required="true" class="form-control"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Spoken languages:</label>
			<div class="col-sm-4">
				<select multiple name="spokenLanguages" ng-options="languageOption.id as languageOption.name for languageOption in languageOptions | orderBy: 'name'" ng-model="user.settings.spokenLanguages" ng-required="true" class="form-control"></select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-10">
				<button type="submit" class="btn btn-default" ng-click="register(register.username, register.password, register.passwordConfirmation)">Register</button>
			</div>
		</div>
	</form>
</div>
</div>
