  <div class="row">
  <div class="col-xs-12">
    <div ng-show="loading" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
    <table class="col-xs-12 table table-striped">
      <thead>
        <th>#</th>
        <th>Fullname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Created</th>
        <th>Level</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <th>
            {{$index+1}}
          </th>
          <td>
            {{user.fullname}}
          </td>
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.created | date:'dd.MM.yyyy'}}
          </td>
          <td>
            <i ng-hide="user.is_admin" class="glyphicon glyphicon-user" title="User"></i>
            <i ng-show="user.is_admin" class="glyphicon glyphicon-certificate" title="Admin"></i>
          </td>
          <td>
            <a ng-hide="user.is_admin" class="btn btn-primary btn-sm" ng-click="makeAdmin($index)" role="button"><i class="fa fa-level-up"></i></a>
            <a ng-show="user.is_admin" class="btn btn-primary btn-sm" ng-click="removeAdmin($index)" role="button"><i class="fa fa-level-down"></i></a>
            <a class="btn btn-primary btn-sm" ng-click="remove($index)" role="button"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
