  <div class="row">
      <table class="col-sm-12 table table-striped">
        <thead>
          <th>Amount</th>
          <th>Unit</th>
          <th>Ingredient</th>
          <th>Recipe</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in shopitems | orderBy:'ingredient.name.de'">
            <td>{{item.amount | number}}</td>
            <td>{{item.unit.name.de}}</td>
            <td>{{item.ingredient.name.de}}</td>
            <td>{{item.recipe.name}}</td>
          </tr>
        </tbody>
      </table>
  </div>
