<a href="/#/units/">
  <div class="col-xs-6 col-md-4 text-center" style="padding: 20px;">
    <span class="glyphicon glyphicon-scale fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Units</span>
  </div>
</a>

<a href="/#/ingredients/">
  <div class="col-xs-6 col-md-4 text-center" style="padding: 20px;">
    <span class="glyphicon glyphicon-apple fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Ingredients</span>
  </div>
</a>

<a href="/#/recipes/">
  <div class="col-xs-6 col-md-4 text-center" style="padding: 20px;">
    <span class="glyphicon glyphicon-cutlery fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Recipes</span>
  </div>
</a>

<a href="/#/schedules/">
  <div class="col-xs-6 col-md-4 text-center" style="padding: 20px;">
    <span class="glyphicon glyphicon-calendar fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Schedule</span>
  </div>
</a>

<a href="/#/shopitems/">
  <div class="col-xs-6 col-md-4 text-center" style="padding: 20px;">
    <span class="glyphicon glyphicon-shopping-cart fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Shopping list</span>
  </div>
</a>

<a href="/#/cooking/">
  <div class="col-xs-6 col-md-4 text-center" style="padding: 20px;">
    <span class="glyphicon glyphicon-fire fa-5x" aria-hidden="true"></span><br />
    <span class="glyphicon-class">Cooking</span>
  </div>
</a>


